# Unreal Engine 项目忽略规则

# 编译生成的文件
Binaries/
Intermediate/
Saved/
DerivedDataCache/

# Visual Studio 文件
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# 其他临时文件
*.log
*.tlog
*.obj
*.pdb
*.ilk
*.dll
*.exe
*.lib
*.so
*.dylib

# 操作系统文件
.DS_Store
Thumbs.db 